<Layouts.app flash={@flash} current_scope={assigns[:current_scope]}>
  <.index_no_layout :if={@product} name={@product.name} /> <.button>Click me!</.button>
  <!--<.button navigate={~p"/"}>Home</.button>-->
  <.back navigate={~p"/products"}>Back to product listing</.back>
</Layouts.app>
