<Layouts.app flash={@flash} current_scope={assigns[:current_scope]}>
  <!--<.button navigate={~p"/"}>Home</.button>-->
  <p>ID: {@product.id}</p>
  <p>Name: {@product.name}</p>
  <.back navigate={~p"/products"}>Back to product listing</.back>
</Layouts.app>
